---
title: General Web Company
---

<section class="welcome">
  <h1>
    General Web
  </h1>
  <p class="byline">
    Real websites made by an imaginary company
  </p>
  <p>
    Reach me at <a href="mailto:hello@justinbrown.io">hello@justinbrown.io</a>
  </p>
</section>

